* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
}

/*Header*/
header {
	height: 10%;
	background-color: whitesmoke;
	margin: 0;
	padding: 5px;
}

header a {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin: 15px;
}

header div {
	padding-right: 50px;
}

header p {
	padding-left: 50px;
}

/*Section de inscripcion*/
.inscribirse {
	background-image: url("../img/home.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;
}

.contenido-insc {
	width: 60%;
	margin: 0 auto;
	padding: 220px 0;
}

.inscribirse h1 {
	margin: 0;
	text-transform: uppercase;
	color: whitesmoke;
	font-size: 40px;
}

/*Section de hackathon*/
.amarillo {
	background-color: #ffff00;
	display: inline-block;
	width: 100%;
	border-top: 40px solid white;
}

.imagen img{
	width: 35%;
	float: left;
	padding: 2%;
}

.letras {
	float: right;
	width: 40%;
	padding: 5% 10% 2% 1%;
}

/*Seccion contacto*/

.contact {
	background-color: white;
	display: inline-block;
	width: 100%;
	padding: 50px 0 50px 0;
}
.formulario {
	float: right;
	width: 32%;
	margin-right: 50px;
}
.entrada {
	display: block;
	width: 100%;
	margin: 5px 0;
}

.contact img {
	width: 55%;
	float: left;
	padding: 2%;
	margin: 0 auto;
}

/*Footer*/
footer {
	height: 40px;
	background-color: lightblue;
	margin: 0;
	padding: 5px;
}

footer p, footer span {
	display: inline-block;
}